.header {
  display: flex;
  justify-content: flex-end;
}

.header button {
  width: 48px;
  height: 48px;
  min-width: 48px;
  //color: white;
  padding-top: 8px;
}

.button_theme {
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
}

.button_theme:hover {
  background-color: var(--secondary-background-color);
  color: var(--accent-color);
}

.mat-tree {
  background-color: transparent !important;
}

.mat-tree-node {
  min-height: var(--mat-tree-node-min-height, 5px);
}
