<div class="header">
<!--  <button mat-icon-button aria-label="Toggle Geometry Highlight" matTooltip="Toggle geometry highlight" (click)="toggleHighlighting()" class="button_theme">-->
<!--    <mat-icon>{{ isHighlightingEnabled ? 'highlight_off' : 'highlight' }}</mat-icon>-->
<!--  </button>-->
<!--  <button mat-icon-button aria-label="Toggle Track Highlight" matTooltip="Toggle track highlight" (click)="toggleTrackHighlighting()" class="button_theme">-->
<!--    <mat-icon>{{ isTrackHighlightingEnabled ? 'timeline_off' : 'timeline' }}</mat-icon>-->
<!--  </button>-->
  <button mat-icon-button aria-label="Toggle Highlights" matTooltip="Toggle  highlights" (click)="toggleHighlighting()" class="button_theme">
    <mat-icon>{{ isAnyHighlightingEnabled ? 'highlight_off' : 'highlight' }}</mat-icon>
  </button>
  <button mat-icon-button aria-label="Refresh" matTooltip="Refresh tree with current geometry" (click)="refreshSceneTree()" class="button_theme">
    <mat-icon>refresh</mat-icon>
  </button>
</div>
<mat-tree [dataSource]="dataSource" [treeControl]="treeControl" >
  <!-- This is the tree node template for leaf nodes -->
  <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding
                 (mouseenter)="onMouseEnterNode(node)"
                 (mouseleave)="onMouseLeaveNode(node)"
                 [class.event-track-node]="isTrackNode(node)">
    <!-- use a disabled button to provide padding for tree leaf -->
    <button mat-icon-button disabled></button>
    {{node.name}}
    <button mat-icon-button (click)="toggleVisibility(node)">
      <mat-icon>{{ isEffectivelyVisible(node.object3D) ? 'visibility' : 'visibility_off' }}</mat-icon>
    </button>
<!--    &lt;!&ndash; Configuration button for tracks &ndash;&gt;-->
<!--    <button *ngIf="isTrackNode(node)" mat-icon-button (click)="onConfigClick('track')" matTooltip="Configure track">-->
<!--      <mat-icon>settings</mat-icon>-->
<!--    </button>-->
  </mat-tree-node>

  <!-- This is the tree node template for expandable nodes -->
  <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding
                 (mouseenter)="onMouseEnterNode(node)"
                 (mouseleave)="onMouseLeaveNode(node)"

                 [class.event-track-node]="isTrackNode(node)">
    <button mat-icon-button matTreeNodeToggle
            [attr.aria-label]="'Toggle ' + node.name">
      <mat-icon class="mat-icon-rtl-mirror">
        {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
      </mat-icon>
    </button>
    {{node.name}}
    <button mat-icon-button (click)="toggleVisibility(node)">
      <mat-icon>{{ isEffectivelyVisible(node.object3D) ? 'visibility' : 'visibility_off' }}</mat-icon>
    </button>
<!--    &lt;!&ndash; Configuration button for track collections &ndash;&gt;-->
<!--    <button *ngIf="isTrackCollectionNode(node)" mat-icon-button (click)="onConfigClick('trackCollection')" matTooltip="Configure tracks">-->
<!--      <mat-icon>settings</mat-icon>-->
<!--    </button>-->
  </mat-tree-node>
</mat-tree>
