* {
  margin: 0;
  padding: 0;
}

.tcontrol {
  width: 40px;
  align-content: center;
  min-width: 40px;
  padding-left: 13px;
  padding-right: 0;
}

//.wrapper {
//  display: flex;
//  //height: 100vh;
//  flex-direction: row;
//  padding-top: 65px;
//  margin-top: -65px;
//}

//.sidebar {
//  flex: 1 1 auto;
//  background-color: #2e2e2e;
//  //left: 0;
//  min-width: 260px;
//  box-sizing: border-box;
//  overflow: auto;
//  height: 100vh;
//  padding-top: 65px;
//  margin-top: -65px;
//}

//.handler {
//  width: 4px;
//  padding: 0;
//  cursor: ew-resize;
//  flex: 0 0 auto;
//}


#eventDisplay {
  padding-top: 168px;
  margin-top: -170px;
}

//.main {
//  flex: 1 1 auto;
//  box-sizing: border-box;
//  display: flex;
//  flex-direction: column;
//}

.toggle-btn {
  //position: absolute;
  //top: 60px;

  color: white;
  padding-top: 8px;
}

//.hidden {
//  display: none;
//}

.time-controls {
  flex: 1 1 auto;
  display: flex;
  background-color: #424242;
  padding: 2px;
  gap: 3px;
  align-items: center;
  justify-content: center;
  height: 50px;
  bottom: 0;
  color: white;
  border-top: 1px solid #ddd;
}


.phoenix-menu{
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
