<app-shell>
  <ng-container header>
    <button mat-icon-button matTooltip="Toggle scene tree pane" (click)="toggleLeftPane()" class="panel-button">
      <mat-icon>{{ isLeftPaneOpen ? 'close' : 'account_tree' }}</mat-icon>
    </button>

    <button mat-icon-button class="panel-button">
      <mat-icon>dark_mode</mat-icon>
    </button>

    <!-- Event selector -->
    <app-custom-event-selector></app-custom-event-selector>

    <app-custom-auto-rotate></app-custom-auto-rotate>

    <!-- Toggle for clipping geometries -->
    <app-custom-object-clipping></app-custom-object-clipping>

    <!-- Extra options -->
    <ng-content></ng-content>

  </ng-container>


  <div leftPane>
    <app-geometry-tree></app-geometry-tree>
  </div>

  <div centralPane>
    <!-- Central content area -->
    <div id="eventDisplay"></div>
    <app-tool-panel ></app-tool-panel>
  </div>

  <div rightPane>
    <!-- Optional content for right pane -->
  </div>

  <div footer-left>
    <app-perf-stats></app-perf-stats>
  </div>
  <div footer-right id="footerRight">


  </div>
  <div footer>
    <div class="time-controls" id="bottom-controls">
      <div class="theme-text" style="margin-right: 10px">{{currentTime | number:'1.1-1'}}</div>
      <mat-slider min="0" [max]="maxTime" step="1" showTickMarks discrete [displayWith]="formatCurrentTime" (input)="changeCurrentTime($event)" class="tslider">
        <input matSliderThumb [value]="currentTime">
      </mat-slider>
      <div class="theme-text">{{maxTime | number:'1.0-0'}} [ns] &nbsp;&nbsp;</div>

      <button mat-raised-button aria-label="Rewind" matTooltip="Rewind time to 0" class="tcontrol" (click)="rewindTime()">
        <mat-icon>first_page</mat-icon>
      </button>
      <button mat-raised-button aria-label="Stop" matTooltip="Animate with beam particles collision" class="tcontrol" (click)="animateWithCollision()">
        <mat-icon>close_fullscreen</mat-icon>
      </button>
      <button mat-raised-button aria-label="Play"  matTooltip="Play time forward" class="tcontrol" (click)="animateTime()">
        <mat-icon>play_arrow</mat-icon>
      </button>
      <button mat-raised-button aria-label="Step" matTooltip="Step 1ns backward" (click)="timeStepBack()" class="tcontrol">
        <mat-icon>chevron_left</mat-icon>
      </button>

      <button mat-raised-button aria-label="Step" matTooltip="Step 1ns forward" (click)="timeStep()" class="tcontrol">
        <mat-icon>chevron_right</mat-icon>
      </button>
      <button mat-raised-button aria-label="Pause" matTooltip="Pause time playing" class="tcontrol" (click)="stopAnimation()" >
        <mat-icon>pause</mat-icon>
      </button>
      <button mat-raised-button aria-label="Stop" matTooltip="Stop and show all particles" class="tcontrol" (click)="exitTimedDisplay()" >
        <mat-icon>stop</mat-icon>
      </button>
      <div class="theme-text">{{message}}</div>
      &nbsp;&nbsp;

      <button mat-raised-button aria-label="Rewind" matTooltip="Play random NEXT EVENT" class="tcontrol" (click)="nextRandomEvent()">
        <mat-icon>last_page</mat-icon>
      </button>

      <button mat-raised-button aria-label="Stop" matTooltip="Cycle through DETECTOR subsystems" class="tcontrol" (click)="cycleGeometry()" >
        <mat-icon>view_in_ar</mat-icon>
      </button>

      <div class="theme-text">{{currentGeometry}}</div>
    </div>
  </div>


</app-shell>
