* {
  margin: 0;
  padding: 0;
}

.tcontrol {
  width: 40px;
  align-content: center;
  min-width: 40px;
  padding-left: 13px;
  padding-right: 0;
}

#eventDisplay {
  padding-top: 115px;
  margin-top: -115px;
}


.toggle-btn {
  position: absolute;
  top: 64px;

  color: white;
  padding-top: 8px;
  z-index: 10;
}


.time-controls {
  flex: 1 1 auto;
  display: flex;
  background-color: #424242;
  padding: 2px;
  gap: 3px;
  align-items: center;
  justify-content: center;
  height: 50px;
  bottom: 0;
  color: white;
  border-top: 1px solid #ddd;
}


mat-slider{
  width: 200px;
}

.phoenix-menu{
  position: fixed;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2e2e2e;
}
