//* {
//  margin: 0;
//  padding: 0;
//}



#eventDisplay {
  padding-top: 105px;
  margin-top: -105px;
  overflow: hidden;
}


.toggle-btn {
  position: absolute;
  top: 50px;
  //color: white;
  padding-top: 8px;
  z-index: 10;
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
}
.toggle-btn:hover {
  background-color: var(--secondary-background-color);
  color: var(--accent-color);
}

.toggle-btn1 {
  color: white;
}

.phoenix-toggle-btn {
  position: absolute;
  right: 0;
  top: 0;
}

.tcontrol {
  width: 40px;
  align-content: center;
  min-width: 40px;
  padding-left: 13px;
  padding-right: 0;
}


.time-controls {
  flex: 1 1 auto;
  display: flex;
  //background-color: #424242;
  padding: 2px;
  gap: 3px;
  align-items: center;
  justify-content: center;
  height: 50px;
  bottom: 0;
  //color: white;
  //border-top: 1px solid #ddd;
}


mat-slider{
  width: 200px;
}




