<!-- event-display-source.component.html -->
<div class="container mt-3">
  <h2 class="card-title">Configure geometry pipeline</h2>

  <img src="../../../assets/diagrams/geometry-pipeline.svg" alt="geometry-pipeline">

  <form >

  <div class="card mt-4">
    <div class="card-body">
      <h4 class="card-title">Data Sources</h4>

      <div class="form-group">
        <div class="mt-4">
          <h5>Geometry</h5>
          Select file with the geometry
          <div class="mt-4">
            <firebird-resource-select #geometrySelect [options]="geometryOptions" label="Geometry source" class="full-width-field"></firebird-resource-select>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="mt-4">
          <h5>Trajectories Event Source</h5>
          <div class="mt-4">
            <firebird-resource-select #trajectorySelect [options]="trajectoryOptions" label="Trajectories event source file" class="full-width-field"></firebird-resource-select>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="mt-4">
          <h5>Edm4Eic Event Source</h5>
          Select file with EDM4EIC data
          <div class="mt-4">
            <firebird-resource-select #edm4eicSelect [options]="edm4eicOptions" label="EDM4EIC file" class="full-width-field"></firebird-resource-select>
          </div>
        </div>
      </div>


    </div>
  </div>

    <div class="card mt-4">
      <div class="card-body">
        <h5 class="card-title">ROOT Geometry optimization</h5>
        <div class="mt-4">
          <h6>Leave only central detector (Remove Beamline, Far Froward and Backward)</h6>
          <div class="form-check custom-control custom-switch">
            <input class="custom-control-input" type="checkbox" id="geoPostEnabled" [formControl]="onlyCentralDetector">
            <label class="custom-control-label" for="geoPostEnabled">Enabled</label>
          </div>
        </div>
        <div class="mt-4">
          <h6>Optimize detectors (remove parts such as glue, pixels, some layers, etc)</h6>
          <div class="form-check custom-control custom-switch">
            <input class="custom-control-input" type="checkbox" checked="checked" disabled>
            <label class="custom-control-label" for="geoPostEnabled">Enabled</label>
          </div>
        </div>
      </div>
    </div>

    <div class="card mt-4">
      <div class="card-body">
        <h5 class="card-title">WebGL Geometry optimization</h5>
        <div class="mt-4">
          <h6>Merge geometries if possible</h6>
          Merging geometries allows to significantly improve the performance by reducing the number of
          <a href="https://discourse.threejs.org/t/webgl-drawcalls/24476">drawcalls</a>.
          <div class="form-check custom-control custom-switch">
            <input class="custom-control-input" type="checkbox" checked="checked" disabled>
            <label class="custom-control-label" for="geoPostEnabled">Enabled</label>
          </div>
        </div>
      </div>
    </div>

    <!-- USE LOCAL API -->
    <div class="card mt-4">
      <div class="card-body">
        <h5 class="card-title">Server API Configuration</h5>
        <div class="form-check custom-control custom-switch mt-4">
          <input class="custom-control-input" type="checkbox" id="serverUseApiCheckbox" [formControl]="serverUseApi">
          <label class="custom-control-label" for="serverUseApiCheckbox">Use local backend</label>
        </div>
        <div class="form-row align-items-center">
          <div class="col-auto">
            <h6 class="mb-0">API URL:</h6>
          </div>
          <div class="col">
            <input class="form-control" type="text" placeholder="Enter API URL: http://localhost:5454" [formControl]="serverApiUrl" [disabled]="!serverUseApi.value">
          </div>
        </div>
      </div>
    </div>


    <!--    <div class="card mt-4">-->
<!--      <div class="card-body">-->
<!--        <h5 class="card-title">Rendering</h5>-->
<!--        <div class="mt-4">-->
<!--          <h6>Debug menu</h6>-->
<!--          <a href="https://discourse.threejs.org/t/webgl-drawcalls/24476">drawcalls</a> significantly improving the performance.-->
<!--          <div class="form-check custom-control custom-switch">-->
<!--            <input class="custom-control-input" type="checkbox" checked="checked" disabled>-->
<!--            <label class="custom-control-label" for="geoPostEnabled">Enabled</label>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->

    <div class="mt-4 text-center">
      <button type="button" class="btn btn-lg btn-primary" [routerLink]="['/display']">DISPLAY</button>
    </div>

    <br><br>

    <mat-accordion class="mt-4">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Backend details
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div>
          <table class="table">
            <thead>
            <tr>
              <th scope="col">Property</th>
              <th scope="col">Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>Server Port</td>
              <td>{{ firebirdConfig.serverPort }}</td>
            </tr>
            <tr>
              <td>Server Host</td>
              <td>{{ firebirdConfig.serverHost }}</td>
            </tr>
            <tr>
              <td>Served by Pyrobird</td>
              <td>{{ firebirdConfig.servedByPyrobird ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
              <td>API Available</td>
              <td>{{ firebirdConfig.apiAvailable ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
              <td>Use Authentication</td>
              <td>{{ firebirdConfig.useAuthentication ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
              <td>Log Level</td>
              <td>{{ firebirdConfig.logLevel }}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
    <br>

  </form>
</div>
