<div class="tool-panel-wrapper">
  <div class="tool-panel" [class.collapsed]="isCollapsed">
    <div class="content">
      <button mat-icon-button class="toggle-button panel-button"  matTooltip="Toggle Panel" (click)="togglePanel()">
        <mat-icon>{{ isCollapsed ? 'keyboard_arrow_left' : 'keyboard_arrow_right' }}</mat-icon>
      </button>

      <div class="action-buttons " *ngIf="!isCollapsed">
        <!-- Zoom In -->
        <button mat-icon-button
          class="panel-button"
          matTooltip="Zoom In"
          (click)="onLeftClick($event, 'zoomIn')"
          (mouseup)="clearZoom()"
          (mouseleave)="clearZoom()"
          (touchend)="clearZoom()"
          (touchcancel)="clearZoom()"
        >
          <mat-icon>zoom_in</mat-icon>
        </button>

        <!-- Zoom Out -->
        <button mat-icon-button
          class=" panel-button"
          matTooltip="Zoom Out"
          (click)="onLeftClick($event, 'zoomOut')"
          (mouseup)="clearZoom()"
          (mouseleave)="clearZoom()"
          (touchend)="clearZoom()"
          (touchcancel)="clearZoom()"
        >
          <mat-icon>zoom_out</mat-icon>
        </button>

        <!-- The ViewOptionsComponent (for grid, axis toggles, etc.) -->
        <app-custom-view-options></app-custom-view-options>

        <!-- Switch Orthographic/Perspective -->
        <button mat-icon-button
          class=" panel-button"
          matTooltip="Switch orthographic/perspective camera"
          (click)="switchMainView()"
        >
          <mat-icon>view_in_ar</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>
