.tree-button {
  background-color: #2e2e2e;
  color: white;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s;
  position: fixed;
  top: 150px;
  right: 20px;

  &:hover {
    background-color: #95A5A5;
  }

  mat-icon {
    font-size: 24px;
  }
}

.window {

  width: 400px;
  //height: 400px;
  background-color: #2e2e2e;
  //display: flex;
  //flex-direction: column;
  //border-radius: 8px;
  //min-width: 200px;
  //min-height: 200px;
  //color: white;
  //overflow-y: auto;
  //transition: width 0.3s ease, left 0.3s ease;
  //z-index: 1000;

  //&.side-nav {
  //  position: fixed;
  //  left: 0;
  //  top: 60px;
  //  height: 100%;
  //  width: 250px;
  //  max-width: 250px;
  //  z-index: 1100;
  //}
  //
  //&.shifted {
  //  margin-left: 400px;
  //}
}

.window-header {
  background-color: #3e3e3e;
  padding: 8px;
  cursor: move;
  display: flex;
  justify-content: space-between;
  align-items: center;
}




