<!--<button mat-icon-button (click)="toggleWindow()" class="tree-button">-->
<!--  <mat-icon>{{ windowOpenState ? 'close' : 'account_tree' }}</mat-icon>-->
<!--</button>-->

<div class="window"  #windowContainer [class.side-nav]="sideNavOpen">
  <div class="window-header" #windowHeader>
    <span>Geometry Tree</span>

<!--    <button mat-icon-button (click)="toggleSideNav()" class="side-nav-button">-->
<!--      <mat-icon>{{ sideNavOpen ? 'chevron_left' : 'chevron_right' }}</mat-icon>-->
<!--    </button>-->

  </div>

  <app-geometry-tree ></app-geometry-tree>

<!--  <div class="resize-handle" *ngIf="!sideNavOpen" #resizeHandle></div>-->
</div>
<!--<div class="window">-->
<!--  <app-geometry-tree></app-geometry-tree>-->
<!--</div>-->
