<!--&lt;!&ndash;<button mat-icon-button (click)="toggleWindow()" class="tree-button">&ndash;&gt;-->
<!--&lt;!&ndash;  <mat-icon>{{ windowOpenState ? 'close' : 'account_tree' }}</mat-icon>&ndash;&gt;-->
<!--&lt;!&ndash;</button>&ndash;&gt;-->

<!--<div class="window"  #windowContainer [class.side-nav]="sideNavOpen">-->
<!--  <div class="window-header" #windowHeader>-->
<!--    <span>Geometry Tree</span>-->

<!--&lt;!&ndash;    <button mat-icon-button (click)="toggleSideNav()" class="side-nav-button">&ndash;&gt;-->
<!--&lt;!&ndash;      <mat-icon>{{ sideNavOpen ? 'chevron_left' : 'chevron_right' }}</mat-icon>&ndash;&gt;-->
<!--&lt;!&ndash;    </button>&ndash;&gt;-->

<!--  </div>-->

<!--  <app-geometry-tree ></app-geometry-tree>-->

<!--&lt;!&ndash;  <div class="resize-handle" *ngIf="!sideNavOpen" #resizeHandle></div>&ndash;&gt;-->
<!--</div>-->
<!--&lt;!&ndash;<div class="window">&ndash;&gt;-->
<!--&lt;!&ndash;  <app-geometry-tree></app-geometry-tree>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
