<button #openBtn mat-icon-button class="panel-button" (click)="openDialog()" matTooltip="Animation settings">
  <mat-icon>movie_filter</mat-icon>
</button>

<ng-template #dialogTemplate>
  <button mat-dialog-close aria-label="Close dialog" class="close-round-btn">
    <mat-icon>close</mat-icon>
  </button>

  <div class="custom-dialog-container">
    <h3 class="dialog-title">Animation Settings</h3>

    <div class="settings-inputs">
      <mat-slide-toggle [(ngModel)]="moveCameraDuringAnimation">
        Move camera during animation
      </mat-slide-toggle>
    </div>

    <div class="dialog-actions">
      <button mat-raised-button (click)="applySettings()">Apply</button>
    </div>
  </div>
</ng-template>
