<div>
  <h1 mat-dialog-title>Customize Cartesian Grid</h1>

  <div class="container dialog-content" mat-dialog-content>
    <!-- SHIFT or set new origin: -->
    <div class="item-config-single">
      <div class="item-config-group">
        <label class="item-config-label" for="xPos">x (cm):</label>
        <input
          type="number"
          [value]="cartesianPos.x"
          class="form-control"
          id="xPos"
          #xPos
        />
      </div>
      <div class="item-config-group">
        <label class="item-config-label" for="yPos">y (cm):</label>
        <input
          type="number"
          [value]="cartesianPos.y"
          class="form-control"
          id="yPos"
          #yPos
        />
      </div>
      <div class="item-config-group">
        <label class="item-config-label" for="zPos">z (cm):</label>
        <input
          type="number"
          [value]="cartesianPos.z"
          class="form-control"
          id="zPos"
          #zPos
        />
      </div>

      <button mat-stroked-button (click)="onSave(xPos.value, yPos.value, zPos.value)">
        Save
      </button>

      <button mat-menu-item class="explain-button" (click)="shiftCartesianGridByPointer()">
        Shift Cartesian Grid on click
      </button>
    </div>

    <!-- Toggles for planes, distance, etc. -->
    <div>
      <button mat-menu-item (click)="showXYPlanes(!gridConfig.showXY)">
        <mat-checkbox [checked]="gridConfig.showXY">
          Show XY Planes
        </mat-checkbox>
      </button>
      <button class="slider-btn" mat-menu-item>
        <mat-slider min="-300" [max]="scale" step="300" thumbLabel>
          <input
            matSliderThumb
            [value]="gridConfig.zDistance"
            (input)="addXYPlanes($event)"
          />
        </mat-slider>
        XY Plane ({{ calcPlanes(gridConfig.zDistance) }})
      </button>

      <!-- Repeat for YZ, ZX, etc. -->
      <!-- ... -->
    </div>
  </div>

  <div mat-dialog-actions align="end">
    <button mat-flat-button color="primary" (click)="onClose()">Close</button>
  </div>
</div>
