@use '@angular/material' as mat;
@use '@angular/cdk';



html {
  color-scheme: light dark;
  @include mat.theme((
    color: (
      primary: mat.$blue-palette
      //primary: mat.$violet-palette,
      //tertiary: mat.$rose-palette,
    ),
    typography: Roboto,
    density: 0,
  ));

  @include cdk.a11y-visually-hidden();
}

html, body { height: 100%; }
body {
  margin: 0;
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
}

/* In styles.scss, at the end of the file */
.cdk-overlay-container, .cdk-overlay-pane {
  z-index: 10000 !important;
}


/* For pages content which has to stay fixed width, like config */
.fixed-width-page-content {
  margin: 0 auto;       // Centers the container horizontally
  padding: 16px;        // Some padding for smaller screens
  width: 100%;          // Full width by default
  max-width: 1200px;    // Maximum width on large displays (adjust as needed)
}

/* Used for all icon based buttons on button panels on header and footer. They are elevated */
.panel-button {
  //background-color: var(--mat-sys-surface-container-low);
  background-color: var(--mat-sys-surface-container-low);
  box-shadow: var(--mat-sys-level2);
  align-content: center;
  margin-left: 3px;
  margin-right: 3px;
}

/* . The .mat-mdc-icon-button styles, which are part of Angular Material's styling for icon buttons,
    have higher specificity than .panel-button class.
    This means the Material styles are overriding .panel-button background color setting.
    So we create a more specific selector that targets these buttons
 */
.panel-button.mat-mdc-icon-button {
  background-color: var(--mat-sys-surface-container-low)!important;
  box-shadow: var(--mat-sys-level2)!important;
}
