@use '@angular/material' as mat;
@use '@angular/cdk';



html {
  color-scheme: light dark;
  @include mat.theme((
    color: (
      primary: mat.$violet-palette,
      tertiary: mat.$rose-palette,
    ),
    typography: Roboto,
    density: 0,
  ));

  @include cdk.a11y-visually-hidden();
}

html, body { height: 100%; }
body {
  margin: 0;
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
}

/* In styles.scss, at the end of the file */
.cdk-overlay-container, .cdk-overlay-pane {
  z-index: 10000 !important;
}


/* For pages content which has to stay fixed width, like config */
.fixed-width-page-content {
  margin: 0 auto;       // Centers the container horizontally
  padding: 16px;        // Some padding for smaller screens
  width: 100%;          // Full width by default
  max-width: 1200px;    // Maximum width on large displays (adjust as needed)
}
