# MANIFEST.in

# pyrobird library
recursive-include src/pyrobird *.py

# Include YAML files
include src/pyrobird/data/*.yaml

# Include all files in the static and templates directories
recursive-include src/pyrobird/server/static *
recursive-include src/pyrobird/server/templates *