

.close-round-btn {
  position: absolute;
  top: 15px;
  right: 10px;
  border-radius: 50%;
  z-index: 10;
  border: none;
  background: none;
  box-shadow: var(--mat-sys-level2);
}

.close-round-btn:hover{
  color: #bec2ff;
}

.close-btn{
  height: 30px;
  border: none;
}



