#main-top-navbar {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  height: 50px;
  color: white;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
}

.config-toggle-btn {
  color: white;
  position: absolute;
  left: 0;
  top: 0;
  padding-top: -3px;
}
