<mat-form-field class="full-width-field">
  <mat-label>{{this.label}}</mat-label>
  <input type="text" matInput [formControl]="value" [matAutocomplete]="auto">
  <mat-autocomplete #auto="matAutocomplete" [displayWith]="onDisplayValueChange" autoSelectActiveOption="true">
    <mat-option *ngFor="let option of filteredOptions | async" [value]="option" [matTooltip]="option.url" (onSelectionChange)="onSelect(option)">
      {{ option.name }}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
