<div class="display-shell">
  <!-- TOP BAR / HEADER -->
  <mat-toolbar class="mat-elevation-z4 top-toolbar">
    <!-- Logo -->
<!--    <button mat-icon-button [routerLink]="['/']" class="logo-button" aria-label="App Logo" >-->
<!--      <img src="assets/firebird/firebird-simplified-circle.png" width="32" height="32" alt="App Logo" />-->
<!--    </button>-->

    <button mat-icon-button [matMenuTriggerFor]="logoMenu" class="logo-button hide-mobile" matTooltip="App Logo">
      <img src="assets/firebird/firebird-simplified-circle.png" alt="App Logo" />
    </button>

    <!-- Always visible nav items on desktop -->
    <mat-menu #logoMenu="matMenu">
      <ng-container *ngFor="let item of navItems">
        <button mat-menu-item *ngIf="!item.alwaysVisible" (click)="onNavItemClick(item)">
          <mat-icon *ngIf="item.icon">{{ item.icon }}</mat-icon>
          <span *ngIf="item.label">{{ item.label }}</span>
        </button>
      </ng-container>
    </mat-menu>

    <!-- Always visible nav items on desktop -->
    <div class="nav-items visible-nav hide-mobile">
      <ng-container *ngFor="let item of navItems">
        <button
          mat-button
          *ngIf="item.alwaysVisible"
          (click)="onNavItemClick(item)"
          [attr.aria-label]="item.label"
        >
          <mat-icon *ngIf="item.icon">{{ item.icon }}</mat-icon>
          {{ item.label }}
        </button>
      </ng-container>
    </div>

    <!-- Middle section for page-specific controls -->
    <div class="middle-section hide-mobile">
      <ng-content select="[header]"></ng-content>
    </div>

    <!-- Spacer to push the theme toggle to the far right -->
    <span class="flex-spacer"></span>

    <!-- Theme toggle (desktop) -->
    <app-theme-switcher class="theme-toggle hide-mobile"></app-theme-switcher>

    <!-- Hamburger menu button (mobile only) -->
    <button
      mat-icon-button
      class="hamburger-btn hide-desktop"
      (click)="toggleNavConfig()"
      aria-label="Toggle navigation menu"
    >
      <mat-icon>{{ navOpen ? 'close' : 'menu' }}</mat-icon>
    </button>
  </mat-toolbar>

  <!-- Mobile menu overlay -->
  <div class="mobile-menu" [class.open]="navOpen">
    <ng-container *ngFor="let item of navItems">
      <!-- On mobile, show all items in the hamburger -->
      <button
        mat-button
        (click)="onNavItemClick(item)"
        [attr.aria-label]="item.label"
      >
        <mat-icon *ngIf="item.icon">{{ item.icon }}</mat-icon>
        {{ item.label }}
      </button>
    </ng-container>

    <div class="middle-section-mobile">
      <ng-content select="[header]"></ng-content>
    </div>
    <!-- Theme toggle inside mobile menu -->
    <app-theme-switcher class="theme-toggle-mobile"></app-theme-switcher>
  </div>

  <!-- MAIN CONTENT AREA (split into leftPane, center, rightPane) -->
  <div class="main-content" #mainContent>
    <!-- LEFT PANE -->
    <div
      *ngIf="isLeftPaneVisible"
      class="pane left-pane"
      [style]="{ 'flex-basis': leftPaneWidth + 'px' }"
    >
      <ng-content select="[leftPane]"></ng-content>
      <ng-template #leftPaneContainer></ng-template>
    </div>
    <div
      *ngIf="isLeftPaneVisible"
      class="divider left-divider"
      (mousedown)="onMouseDownLeft($event)"
    ></div>

    <!-- CENTER PANE -->
    <div class="central-pane">
      <ng-content select="[centralPane]"></ng-content>
    </div>

    <!-- RIGHT PANE -->
    <div
      *ngIf="isRightPaneVisible"
      class="divider right-divider"
      (mousedown)="onMouseDownRight($event)"
    ></div>
    <div
      *ngIf="isRightPaneVisible"
      class="pane right-pane"
      [style]="{ 'flex-basis': rightPaneWidth + 'px' }"
    >
      <ng-content select="[rightPane]"></ng-content>
      <ng-template #rightPaneContainer></ng-template>
    </div>
  </div>

  <!-- FOOTER -->
  <!-- FOOTER -->
  <div class="footer">
    <!-- Left part of footer -->
    <div class="footer-left">
      <ng-content select="[footer-left]"></ng-content>
    </div>

    <!-- Center part of footer (existing 'footer' slot) -->
    <div class="footer-center">
      <ng-content select="[footer]"></ng-content>
    </div>

    <!-- Right part of footer -->
    <div class="footer-right">
      <ng-content select="[footer-right]"></ng-content>
    </div>
  </div>
</div>
