:host {
  display: flex;
  margin: 0 0.6rem;

  .menu-toggle {
    display: flex;
    background: unset;
    border: none;
    height: 2.5rem;
    width: 2.5rem;
    min-height: 2.5rem;
    min-width: 2.5rem;
    padding: 0.65rem;
    cursor: pointer;
    align-self: center;
    transition: all 0.4s;

    &-icon {
      width: 100%;
      height: 100%;
      fill: var(--icon-color);

      &.active-icon {
        fill: var(--active-icon-color);
      }
    }

    &:hover {
      background-color: var(--icon-bg);
      border-radius: 40%;
      transition: all 0.4s;
    }

    &.disabled {
      cursor: not-allowed;
      opacity: 0.4;
    }
  }
}
//.menu-toggle-icon{
//  color: var(--text-color);
//  transition: background-color 0.3s, color 0.3s;
//}
//
//.button_theme:hover {
//  color: var(--accent-color);
//}
