<!-- performance-stats.component.html -->
<div class="perf-counter-wrapper">
  <table class="perf-table">
    <tr>
      <td class="perf-item">
        <span class="perf-label" title="Frames Per Second">FPS</span>
      </td>
      <td>
        <span class="perf-value" title="Frames Per Second">{{ perf.fps | number:'1.0-0' }}</span>
      </td>
      <td class="perf-item">
        <span class="perf-label" title="Average Frame Time (ms)">T(ms)</span>
      </td>
      <td>
        <span class="perf-value" title="Average Frame Time (ms)">{{ perf.frameTime | number:'1.0-0' }}</span>
      </td>
    </tr>
    <tr>
      <td class="perf-item">
        <span class="perf-label" title="Draw Calls">DC</span>
      </td>
      <td>
        <span class="perf-value"  title="Draw Calls">{{ perf.calls }}</span>
      </td>
      <td class="perf-item">
        <span class="perf-label" title="Triangles">Tr(k)</span>
      </td>
      <td>
        <span class="perf-value"  title="Triangles">{{ perf.triangles / 1000 | number:'1.1-1'}}</span>
      </td>
    </tr>
  </table>
</div>
