.custom-position-dialog {
  padding: 45px 24px 24px 24px;
  border-radius: 18px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
  font-family: Arial, sans-serif;
  max-width: 350px;
  display: flex;
  flex-direction: column;
  gap: 20px;

}


mat-slider {
  margin-left: 0.75rem;
  margin-right: 0.75rem;
}

.close-round-btn {
  position: absolute;
  top: 15px;
  right: 10px;
  border-radius: 50%;
  z-index: 10;
  border: none;
  background: none;
  box-shadow: var(--mat-sys-level2);
}

.close-round-btn:hover{
  color: #bec2ff;
}

.close-btn{
  height: 30px;
  border: none;
}

.preset-buttons {
  display: flex;
  justify-content: space-between;
  padding: 0 24px;
}

.slider-label {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 8px;
  margin-top: -8px;

  .angle-value {
    font-weight: 500;
    color: rgba(0, 0, 0, 0.87);
  }
}



button[disabled] .angle-presets {
  opacity: 0.5;
}


.clipping-buttons {
  display: flex;
  align-items: center; /* Vertically center items */
  gap: 8px; /* Space between items */
}

.clipping-toggle {
  flex-shrink: 0; /* Prevent the toggle button from shrinking */
}

.angle-presets {
  display: flex;
  align-items: center;
  gap: 8px;
}

button[mat-icon-button] {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dialog-actions {
  display: flex;
  justify-content: center;
}

.angle-value-input {
  width: 4.2rem;
  border: none;
  background: transparent;
  text-align: center;
  font: inherit;
  color: inherit;
  outline: none;
  box-sizing: border-box;
}




