name: Angular CI/CD Workflow

on:
  push:
    branches:
      - '*'
  pull_request:
    branches:
      - master

jobs:
  test:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./firebird-ng
    steps:
      - uses: actions/checkout@v4
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'
          cache: 'npm'
          cache-dependency-path: ./firebird-ng/package-lock.json

      - name: Install Dependencies
        run: npm install

      - name: Run Tests
        run: npm run test:headless

  build:
    needs: test
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./firebird-ng
    steps:
      - uses: actions/checkout@v4
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'
          cache: 'npm'
          cache-dependency-path: ./firebird-ng/package-lock.json

      - name: Install Dependencies
        run: npm install

      - name: Build
        run: npm run build:ghpages

      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: github-pages
          path: ./firebird-ng/dist/

  deploy:
    if: github.ref == 'refs/heads/master' || endsWith(github.ref, '-ci')
    needs: build
    permissions:
      pages: write
      id-token: write
      pull-requests: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./
    steps:
      - uses: actions/checkout@v4

      - name: Download Artifacts
        uses: actions/download-artifact@v4
        with:
          name: github-pages
          path: ./dist/
      - name: Introspect
        run: |
          ls
          echo "--- ls ./dist/"
          ls -latrh ./dist
          echo "--- ls ./dist/firebird"
          ls -latrh ./dist/firebird
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4

#      - name: Deploy to GitHub Pages
#        uses: peaceiris/actions-gh-pages@v4
#        with:
#          github_token: ${{ secrets.GITHUB_TOKEN }}
#          publish_dir: ./dist/firebird
