<!-- event-display-source.component.html -->
<div class="container mt-3">
  <h2>Configure geometry pipeline</h2>

  <img src="assets/diagrams/geometry-pipeline.svg" alt="geometry-pipeline">

  <form >
  <div class="card mt-4">
    <div class="card-body">
      <h5 class="card-title">Geometry Source</h5>
      <div class="form-group">
        Geometry file sources are taken from <a href="https://eic.github.io/epic/">https://eic.github.io/epic/</a>
        <select class="form-control" [formControl]="selectedGeometry">
          <option value="epic-central-optimized">EIC ePIC Central Detector optimized</option>
          <option value="https://eic.github.io/epic/artifacts/tgeo/epic_bhcal.root">epic_bhcal.root</option>
          <option value="https://eic.github.io/epic/artifacts/tgeo/epic_calorimeters.root">epic_calorimeters.root</option>
          <option value="https://eic.github.io/epic/artifacts/tgeo/epic_craterlake.root">epic_craterlake.root</option>
          <option value="https://eic.github.io/epic/artifacts/tgeo/epic_craterlake_10x100.root">epic_craterlake_10x100.root</option>
          <option value="https://eic.github.io/epic/artifacts/tgeo/epic_craterlake_10x275.root">epic_craterlake_10x275.root</option>
          <option value="https://eic.github.io/epic/artifacts/tgeo/epic_craterlake_18x110_Au.root">epic_craterlake_18x110_Au.root</option>
          <option value="https://eic.github.io/epic/artifacts/tgeo/epic_craterlake_18x275.root">epic_craterlake_18x275.root</option>
          <option value="https://eic.github.io/epic/artifacts/tgeo/epic_craterlake_5x41.root">epic_craterlake_5x41.root</option>
          <option value="https://eic.github.io/epic/artifacts/tgeo/epic_craterlake_material_map.root">epic_craterlake_material_map.root</option>
          <option value="https://eic.github.io/epic/artifacts/tgeo/epic_craterlake_no_bhcal.root">epic_craterlake_no_bhcal.root</option>
          <option value="https://eic.github.io/epic/artifacts/tgeo/epic_craterlake_tracking_only.root">epic_craterlake_tracking_only.root</option>
          <option value="https://eic.github.io/epic/artifacts/tgeo/epic_dirc_only.root">epic_dirc_only.root</option>
          <option value="https://eic.github.io/epic/artifacts/tgeo/epic_drich_only.root">epic_drich_only.root</option>
          <option value="https://eic.github.io/epic/artifacts/tgeo/epic_forward_detectors.root">epic_forward_detectors.root</option>
          <option value="https://eic.github.io/epic/artifacts/tgeo/epic_forward_detectors_with_inserts.root">epic_forward_detectors_with_inserts.root</option>
          <option value="https://eic.github.io/epic/artifacts/tgeo/epic_full.root">epic_full.root</option>
          <option value="https://eic.github.io/epic/artifacts/tgeo/epic_imaging_only.root">epic_imaging_only.root</option>
          <option value="https://eic.github.io/epic/artifacts/tgeo/epic_inner_detector.root">epic_inner_detector.root</option>
          <option value="https://eic.github.io/epic/artifacts/tgeo/epic_ip6.root">epic_ip6.root</option>
          <option value="https://eic.github.io/epic/artifacts/tgeo/epic_ip6_extended.root">epic_ip6_extended.root</option>
          <option value="https://eic.github.io/epic/artifacts/tgeo/epic_lfhcal_only.root">epic_lfhcal_only.root</option>
          <option value="https://eic.github.io/epic/artifacts/tgeo/epic_lfhcal_with_insert.root">epic_lfhcal_with_insert.root</option>
          <option value="https://eic.github.io/epic/artifacts/tgeo/epic_mrich_only.root">epic_mrich_only.root</option>
          <option value="https://eic.github.io/epic/artifacts/tgeo/epic_pfrich_only.root">epic_pfrich_only.root</option>
          <option value="https://eic.github.io/epic/artifacts/tgeo/epic_pid_only.root">epic_pid_only.root</option>
          <option value="https://eic.github.io/epic/artifacts/tgeo/epic_tof_endcap_only.root">epic_tof_endcap_only.root</option>
          <option value="https://eic.github.io/epic/artifacts/tgeo/epic_tof_only.root">epic_tof_only.root</option>
          <option value="https://eic.github.io/epic/artifacts/tgeo/epic_vertex_only.root">epic_vertex_only.root</option>
          <option value="https://eic.github.io/epic/artifacts/tgeo/epic_zdc_lyso_sipm.root">epic_zdc_lyso_sipm.root</option>
          <option value="https://eic.github.io/epic/artifacts/tgeo/epic_zdc_sipm_on_tile_only.root">epic_zdc_sipm_on_tile_only.root</option>
        </select>
      </div>

      <h5 class="card-title">Events Source</h5>
      <div class="form-group">
        <select class="form-control" [formControl]="selectedEventSource">
          <option value="no-events">No events (may upload later)</option>
          <option value="https://firebird-eic.org/dirc_event.json.zip">DIRC optical (load DIRC only geometry)</option>
          <option value="https://firebird-eic.org/py8_dis-cc_10x100_minq2-1000_minp-300mev_vtxcut-5m_nevt-5.evt.zip">py8_dis-cc_10x100_minq2-1000_minp-300mev_vtxcut-5m_nevt-5.evt.zip</option>
          <option value="https://firebird-eic.org/py8_dis-cc_18x275_minq2-1000_minp-300mev_vtxcut-5m_nevt-5.evt.zip">py8_dis-cc_18x275_minq2-1000_minp-300mev_vtxcut-5m_nevt-5.evt.zip</option>
          <option value="https://firebird-eic.org/py8_dis-cc_18x275_minq2-100_minp-300mev_vtxcut-5m_nevt-5.evt.zip">py8_dis-cc_18x275_minq2-100_minp-300mev_vtxcut-5m_nevt-5.evt.zip</option>
          <option value="https://firebird-eic.org/py8_dis-cc_5x41_minq2-100_minp-300mev_vtxcut-5m_nevt-5.evt.zip">py8_dis-cc_5x41_minq2-100_minp-300mev_vtxcut-5m_nevt-5.evt.zip</option>
          <option value="https://firebird-eic.org/py8_dis-cc_all_minq2-100_minp-300mev_vtxcut-5m_nevt-5.evt.zip">py8_dis-cc_all_minq2-100_minp-300mev_vtxcut-5m_nevt-5.evt.zip</option>
          <option value="https://firebird-eic.org/py8_dis-nc_10x100_minq2-1000_minp-300mev_vtxcut-5m_nevt-5.evt.zip">py8_dis-nc_10x100_minq2-1000_minp-300mev_vtxcut-5m_nevt-5.evt.zip</option>
          <option value="https://firebird-eic.org/py8_dis-nc_10x100_minq2-100_minp-300mev_vtxcut-5m_nevt-5.evt.zip">py8_dis-nc_10x100_minq2-100_minp-300mev_vtxcut-5m_nevt-5.evt.zip</option>
          <option value="https://firebird-eic.org/py8_dis-nc_10x100_minq2-1_minp-300mev_vtxcut-5m_nevt-5.evt.zip">py8_dis-nc_10x100_minq2-1_minp-300mev_vtxcut-5m_nevt-5.evt.zip</option>
          <option value="https://firebird-eic.org/py8_dis-nc_18x275_minq2-1000_minp-300mev_vtxcut-5m_nevt-5.evt.zip">py8_dis-nc_18x275_minq2-1000_minp-300mev_vtxcut-5m_nevt-5.evt.zip</option>
          <option value="https://firebird-eic.org/py8_dis-nc_18x275_minq2-100_minp-300mev_vtxcut-5m_nevt-5.evt.zip">py8_dis-nc_18x275_minq2-100_minp-300mev_vtxcut-5m_nevt-5.evt.zip</option>
          <option value="https://firebird-eic.org/py8_dis-nc_18x275_minq2-1_minp-300mev_vtxcut-5m_nevt-5.evt.zip">py8_dis-nc_18x275_minq2-1_minp-300mev_vtxcut-5m_nevt-5.evt.zip</option>
          <option value="https://firebird-eic.org/py8_dis-nc_5x41_minq2-100_minp-300mev_vtxcut-5m_nevt-5.evt.zip">py8_dis-nc_5x41_minq2-100_minp-300mev_vtxcut-5m_nevt-5.evt.zip</option>
          <option value="https://firebird-eic.org/py8_dis-nc_all_minq2-1_minp-300mev_vtxcut-5m_nevt-5.evt.zip">py8_dis-nc_all_minq2-1_minp-300mev_vtxcut-5m_nevt-5.evt.zip</option>
        </select>
      </div>
    </div>
  </div>

    <div class="card mt-4">
      <div class="card-body">
        <h5 class="card-title">ROOT Geometry optimization</h5>
        <div class="mt-4">
          <h6>Leave only central detector (Remove Beamline, Far Froward and Backward)</h6>
          <div class="form-check custom-control custom-switch">
            <input class="custom-control-input" type="checkbox" id="geoPostEnabled" [formControl]="onlyCentralDetector">
            <label class="custom-control-label" for="geoPostEnabled">Enabled</label>
          </div>
        </div>
        <div class="mt-4">
          <h6>Optimize detectors (remove parts such as glue, pixels, some layers, etc)</h6>
          <div class="form-check custom-control custom-switch">
            <input class="custom-control-input" type="checkbox" checked="checked" disabled>
            <label class="custom-control-label" for="geoPostEnabled">Enabled</label>
          </div>
        </div>
      </div>
    </div>

    <div class="card mt-4">
      <div class="card-body">
        <h5 class="card-title">WebGL Geometry optimization</h5>
        <div class="mt-4">
          <h6>Merge geometries if possible</h6>
          Merging geometries allows to significantly improve the performance by reducing the number of
          <a href="https://discourse.threejs.org/t/webgl-drawcalls/24476">drawcalls</a>.
          <div class="form-check custom-control custom-switch">
            <input class="custom-control-input" type="checkbox" checked="checked" disabled>
            <label class="custom-control-label" for="geoPostEnabled">Enabled</label>
          </div>
        </div>
      </div>
    </div>

<!--    <div class="card mt-4">-->
<!--      <div class="card-body">-->
<!--        <h5 class="card-title">Rendering</h5>-->
<!--        <div class="mt-4">-->
<!--          <h6>Debug menu</h6>-->
<!--          <a href="https://discourse.threejs.org/t/webgl-drawcalls/24476">drawcalls</a> significantly improving the performance.-->
<!--          <div class="form-check custom-control custom-switch">-->
<!--            <input class="custom-control-input" type="checkbox" checked="checked" disabled>-->
<!--            <label class="custom-control-label" for="geoPostEnabled">Enabled</label>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->

    <div class="mt-4 text-center">
      <button type="button" class="btn btn-lg btn-primary" [routerLink]="['/display']">DISPLAY</button>
    </div>

  </form>
</div>
